.event-container {
  margin: 1em;
  padding-top: 1.2em;
  padding-right: 0.7em;
  padding-bottom: 1em;
  padding-left: 1.3em;
  background: darkslateblue;
  color: white;
}

.event-container.past {
  background: #1c1737;
  color: #575981;
}

.event-container>h2 {
  margin: 0;
  margin-bottom: 0.3em;
}

.event-container>.event-description {
  margin-top: 1.2em;
  margin-bottom: 2em;
  margin-left: 0.5em;
}
