  <div class="event-container">
    <h2 *ngIf="isDetailed">{{event.name}}</h2>
    <a [routerLink]="['/event-details', '','' ,'' , event._id]" *ngIf="!isDetailed"><h2>{{event.name}}</h2></a>
    
    <div>
      <small *ngIf="event.date">{{event.date.start | date: 'medium'}} - {{event.date.end | date: 'medium'}}</small>
      <small *ngIf="!event.date" class="accent">¡Todavía no tiene una fecha!</small>
    </div>

    <div class="event-description">
      {{event.description}}
    </div>

    <div class="event-speaker">
      Por: {{event.speaker.name}} / <a href="https://twitter.com/{{event.speaker.twitter}}">@{{event.speaker.twitter}}</a>
    </div>

  </div>