
<h2>Nuevo Evento</h2>

<div class="new-event-container">
  <form #newEvent="ngForm" (ngSubmit)="createEvent(newEvent.value)">
    
    <div class="input-container">
      <input type="text" ngControl="name" placeholder="Nombre del evento">
    </div>
    
    <div class="input-container" ngControlGroup="date">
      <p>
        <label for="start">Inicio</label>
        <input id="start" type="date" ngControl="start">
      </p>
      <p>
        <label for="end">Final</label>
        <input id="end" type="date" ngControl="end">
      </p>
    </div>
    
    <div class="input-container">
      <textarea ngControl="description" placeholder="Descripción"></textarea>
    </div>
    
    <div class="input-container" ngControlGroup="speaker">
      <div class="input-container">
        <input type="text" ngControl="name" placeholder="Nombre del speaker">
      </div>
      <div class="input-container">
        <input type="text" ngControl="twitter" placeholder="Usuario en Twitter">
      </div>

    </div>
    
   
    <button type="submit">Submit Form</button>

  </form>
</div>