.new-event-container {
  background: darkslateblue;
  padding: 2em;
}

.new-event-container>form>.input-container {
  width: 30%;
  margin: 1em;
}

.new-event-container>form>.input-container>input {
  width: 100%;
}