<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>IWasThere</title>
  <base href="/">

  {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <style>
    body{background:#362d69 ; color: white; font-family: sans-serif;}a{color: #ff4ec1;}a:visited{color: #981f6e;}.accent{color: #ff4ec1;}
  </style>
</head>
<body>
  <app-root>Loading...</app-root>

  

    {{#each scripts.polyfills}}
    <script src="{{.}}"></script>
    {{/each}}
    <script>
      System.import('system-config.js').then(function () {
        System.import('main');
      }).catch(console.error.bind(console));
    </script>

  

</body>
</html>
